{% extends 'index.html' %}

{% block content %}
<section id="list-page" class="list-page">
  <div class="container">
    <h2 class="text-center my-4">Бусове</h2>
    <div class="row">
      {% for bus in buses %}
        <div class="col-md-4">
          <div class="card bg-dark text-white">
            <div class="card-body">
              <h5 class="card-title"> Модел - {{ bus.model }}</h5>
              <p class="card-text"> Номер - {{ bus.number }}</p>
              <a href="{% url 'bus_detail' bus.pk %}" class="btn btn-light">Детайли</a>
            </div>
          </div>
        </div>
      {% empty %}
        <p>No buses available.</p>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
